<div id="spa_container">
    <section id="insertion" class="visuals_section">
        <img src="/public/Captura de pantalla 2023-08-03 223542.png" alt="">
    </section>
    <section class="producs_section">
        <div class="product_section_heading_text">
            <h2>All our products</h2>
            <select title="products" name="products"  id="productSelect" class="productSelect">
                <option id="productOptions" class="product_options" value="prd1">prd1</option>
            </select>
        </div>
        <div class="products_display_container" id="productSection">
            <div class="product_container" id="product01">
                <img src="/public/Captura de pantalla 2023-08-03 223542.png" alt="" class="product_img">
                <p class="product_text">playera negra - logo blanco</p>
                <option class="range_variants" >
                    <input  title="black_option" name="product_selected" type="radio">
                    <input  title="gray_option"  name="product_selected" type="radio">
                </option>
            </div>
        </div>
        <div class="appendedHTML_container">
        </div>
        <div class="expand_site_height_btn">
            <button class="btn_display_products" type="button" id="btn_more_options">More options</button>
        </div>
    </section>
</div>

