<div id="add_to_cart_dispaly"></div>
<div class="appendedHTML_container">
<section class="producs_section">
    <div class="store_heading_text">
        <div class="store_heading_container">
            <img id="back_arrow" src="/public/icons8-back-arrow-50.png" alt="">
            <h2>Academlo - Official store</h2>
        </div>
    </div>
    <div class="produc_section_container">
        <div class="store_product_insights">
            <p class="store_product_text">Playera negra - logo blanco</p>
            <p class="store_product_text">$300.00</p>
            <p class="store_product_description">Hoodies oficiales de academlo</p>
            <p class="store_product_text">Colors</p>
            <div class="store_product_variants">
                <img id="img_insertion_1" class="store_img_variant_container" src="" alt="">
                <img id="img_insertion_2" class="store_img_variant_container" src="" alt="">
            </div>
            <div class="store_sizes_info">
                <p class="store_product_text">Sizes</p>
                <p class="store_product_guide_text"><img src="/public/icons8-info.svg" alt="" width="20px">Sizing Guide</p>
            </div>
            <div class="store_product_varintas_container">
                <div class="variants">S</div>
                <div class="variants">M</div>
                <div class="variants">L</div>
                <div class="variants">XL</div>
                <div class="variants">2XL</div>
                <div class="variants">3XL</div>
            </div>
            <button id="add_to_cart" class="store_button" type="button">Añadir al carrito</button>
        </div>
        <div class="product_section_display">
            <div class="colored_frame">

            </div>
            <img class="store_img_product_maximized" src="/public/anonymus_hoodie.jpg" width="300px" height="350px" alt="">
        </div>
    </div>
    <div class="store_related_products">
        <h2>Productos relacionados</h2>
        <div class="store_products_display_container" id="productSection">
            <div class="store_product_container" id="related_product_01">
                <img src="/public/Captura de pantalla 2023-08-03 223542.png" alt="" class="store_product_img">
                <p class="store_product_text_related">playera negra - logo blanco</p>
                <option class="store_range_variants" >
                    <input  title="black_option" name="product_selected" type="radio">
                    <input  title="gray_option"  name="product_selected" type="radio">
                </option>
            </div>
        </div>
    </div>
    <section class="store_suscription_container">
        <h2 class="suscribe_section_heading">Keep in contact</h2>
        <p class="suscribe_section_text">Suscribe to get notifications and updates about our products</p>
        <div class="store_email_suscription_container">
            <input class="suscribe_input" type="email" placeholder="Type your email"><button class="susbribe_button">SUSCRIBE</button>
        </div>
    </section>

    
</section>
</div>

